a:link {
  color: #1A0DAB;
}

a:visited {
  color: #6C00A2;
}

html {
  background-color: #000000;
}

body {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  text-align: center;
  color: #000000;
}

h1:before {
  background: url('logo.png');
  background-repeat: no-repeat;
  padding: 0 120px 0 0;
  content: " ";
}
